* {
    box-sizing: border-box;
}

body {
    background-color: #ecf2f8;
    font-family: "Barlow Semi Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    opacity: 0.89;
}

#testimonial-grid-container {
    padding: 25px 15px;
}

#container1 {
    background-color: #7541c8;
    color: white;
    position: relative;
}

#container2 {
    background-color: #48556a;
    color: white;
}

.text {
    line-height: 1.5;
}

.intro {
    line-height: 1.2;
}

#container3,
#container5 {
    background-color: white;
    color: #48556a;
}

#container4 {
    background-color: #19212e;
    color: white;
}

.containerItem {
    padding: 30px;
    margin-bottom: 23px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.55);
    font-size: 13px;
}

.containerItem h4 {
    font-size: 1.2rem;
    font-weight: 500;
}

.header {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.header-text .title {
    opacity: 0.7;
}

.main-text h4 {
    margin-top: 18px;
    margin-bottom: 15px;
}

.main-text p {
    opacity: 0.7;
    font-size: 0.9rem;
    font-weight: 400;
}

.containerItem p.name,
.containerItem p.title {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 50%;
    margin-right: 15px;
    border: solid #7541c8;
    width: 40px;
}

@media (min-width: 576px) {

    #testimonial-grid-container,
    #top,
    #bottom,
    #main-left {
        display: flex;
    }

    #top,
    #bottom {
        flex-basis: 50%;
    }

    #container5 {
        flex-basis: 22.5%;
    }

    #main-left {
        flex-direction: column;
        flex-basis: 70%;
    }

    #container1,
    #container4 {
        flex-basis: 65%;
    }

    #container2,
    #container3 {
        flex-basis: 31%;
    }

    #main-left {
        margin-right: 25px;
    }

    #testimonial-grid-container {
        display: flex;
        max-width: 1440px;
        margin: 0 auto;
    }

    #container2,
    #container4 {
        margin-left: 25px;
    }
}